<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <h1>BIENVENIDO A LA APP</h1>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/index.css')}}"/>
</head>
<body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script>
    function sendingFile(){
        $(':button').on('click', function () {
          $.ajax({
            // Your server script to process the upload
            url: '/prueba',
            type: 'POST',

            // Form data
            data: new FormData($('form')[0]),

            // Tell jQuery not to process data or worry about content-type
            // You *must* include these options!
            cache: false,
            contentType: false,
            processData: false,

            // Custom XMLHttpRequest
            xhr: function () {
              var myXhr = $.ajaxSettings.xhr();
              if (myXhr.upload) {
                // For handling the progress of the upload
                myXhr.upload.addEventListener('progress', function (e) {
                  if (e.lengthComputable) {
                    $('progress').attr({
                      value: e.loaded,
                      max: e.total,
                    });
                  }
                }, false);
              }
              return myXhr;
            }
          });
        });
    }
    </script>
    <div class="formArea">
        <form id="form" enctype="multipart/form-data" method="post" action="/prueba">
            <label for="nameProject">Nombre del proyecto: </label>
            <input name="projectFile" type="text" id="nameProject">
            <input name="file" type="file" multiple="multiple"/>
            <div class="button-group">
                <input type="submit" value="Upload" formaction="/prueba" />
            </div>

        </form>
        <progress></progress>
    </div>


</body>
</html>